$black: #000000;
$light-black: #262628;

$home-secondary: #8877FF;

$super-light: #EAEAEA;
$white: #FFFFFF;

$primary: #6688BD; //94ABDB //при смене сделать поиск по всему проекту, так как цвет используется в компонентах
