$font-family-montserrat: 'Montserrat',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
$font-family-cambria: 'Cambria',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

$cubic: cubic-bezier(0.85, 0, 0.15, 1);
$trans-fast: .15s $cubic;
$trans: .2s $cubic;
$trans-semi-slow-duration: 300ms;
$trans-semi-slow: $trans-semi-slow-duration $cubic;
$trans-slow: .4s $cubic;

$desktopMaxWidth: 1920px;
$smallDesktopMaxWidth: 1700px;
$laptopMaxWidth: 1369px;
$laptopMinWidth: 1024px;
//$laptopMaxWidth: 1280px;
$tabletMaxWidth: 1023px;
$tabletMinWidth: 768px;
$mobileMaxWidth: 767px;
$mobileLargeMaxWidth: 600px;
$mobileMediumMaxWidth: 480px;
$mobileSmallMaxWidth: 374px;

$media-desktop: '(min-width: #{$tabletMaxWidth + 1})';
$media-laptop: '(max-width: #{$laptopMaxWidth})';
$media-laptop-only: '(max-width: #{$laptopMaxWidth}) and (min-width: #{$tabletMaxWidth + 1})';
$media-tablet-desktop: '(min-width: #{$mobileMaxWidth + 1})';
$media-tablet-laptop: '(max-width: #{$laptopMaxWidth}) and (min-width: #{$mobileMaxWidth + 1})';
$media-tablet: '(max-width: #{$tabletMaxWidth})';
$media-tablet-only: '(max-width: #{$tabletMaxWidth}) and (min-width: #{$tabletMinWidth})';
$media-mobile: '(max-width: #{$mobileMaxWidth})';
$media-mobile-large: '(max-width: #{$mobileLargeMaxWidth})';
$media-mobile-medium: '(max-width: #{$mobileMediumMaxWidth})';
$media-mobile-small: '(max-width: #{$mobileSmallMaxWidth})';

$desktopContainerMaxWidth: 1170px;
